.container1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url("../../assets/shopping.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  color: black;
}

.content2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #fff;
}

.intro {
  padding: 0 18% 0 15%;
}

.intro2 {
  /* border: 1px solid black; */
  width: 100%;
}

.svg-container {
  /* border: 1px solid black; */
}

.title {
  font-size: 2.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.para {
  padding-top: 10px;
  font-size: 1em;
  color: rgb(67, 68, 68);
}

.btn {
  font-size: 1.2em;
  font-family: Open-sans, serif;
  font-weight: 500 !important;
  background-image: linear-gradient(to right, #ea6326, #fa942b);
  background-blend-mode: overlay;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.9 !important;
  transform: scale(1.02) !important;
}

.underline {
  width: 150px;
  height: 3px;
  background-color: rgb(17, 40, 56);
  margin: 0 auto;
  border-radius: 10px;
}
