.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 1200px;
  height: 60px;
  color: white;
  background-color: #1e212d;
  position: sticky;
  z-index: 100;
  top: 0;
}

.logo-container {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: center;
}

.logo-navbar {
  font-family: cursive;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 0.5rem;
  color: #8ddbe2;
}

.search-box {
  display: flex;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.input-box {
  width: 94%;
}

.input-field {
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  padding-left: 1rem;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
}

.input-field:focus {
  outline: none;
}

.search-icon-container {
  display: inline-flex;
  width: 8%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 173, 109);
}

.nav-list-container {
  /* border: 1px solid darkblue; */
  display: flex;
  width: 20%;
  height: 35px;
  justify-content: space-around;
}

.first-line {
  font-size: 13px;
}

.second-line {
  font-size: 16px;
  line-height: 0.5rem;
  font-weight: bolder;
  text-align: center;
  color: #fff !important;
}

.cart-value {
  font-size: 15px;
  font-weight: 600;
  font-family: revert;
}
